@import url("https://fonts.googleapis.com/css?family=Spartan");



/* important ======================================================= */
html {
  font-size: 62.5%;
}
/* important ======================================================= */

body {
  font-family: "Spartan", sans-serif;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: -0.1rem;
  margin-bottom: 3rem;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2, 2rem;
  letter-spacing: -0.063rem;
  margin-bottom: 2.5rem;
}
h3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: -0.08rem;
  margin-bottom: 2rem;
}
h4 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.025rem;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.025rem;
  margin-bottom: 1.5rem;
}

.p-little {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: -0.023rem;
  margin-bottom: 1.5rem;
}

.bold-span{
  font-weight: 700;
}

//Hide some word in mobile view

.hidden-mobile-span{
display: none;
}
@media (min-width: $mq-small) {
    .hidden-mobile-span{
display: inline;
}
}