$light-bg: rgb(248, 248, 251);
$dark-bg: rgb(20, 22, 37);
$red: #ec5757;
$gray: #888EB0;
$white:#ffffff;
$green: #33D69F;
$green-bg:#33d6a017;
$yellow: #FF8F00;
$yellow-bg:#ff910013;
$salmon: rgb(255, 151, 151);
$purple: #7C5DFA;
$purple-light: #9277ff;
$purple-dark: #1e2139;
$purple-dark-bg:#1e21391e;
$purple-navBar: #373B53;


$max-width: 730px;

$navBar-vertical-width: 103px;

$mq-small: 768px;
$mq-medium: 1024px;
$mq-large: 1366px;
