$light-bg: rgb(248, 248, 251);
$dark-bg: rgb(20, 22, 37);
$red: #ec5757;
$salmon: rgb(255, 151, 151);
$purple: #7c5dfa;
$purple-light: #9277ff;
$purple-dark: #1e2139;
$purple-navBar: #373B53;

$max-width: 1100px;

$mq-small: 768px;
$mq-medium: 1024px;
$mq-large: 1366px;
