@import "reset";

@import "variables";

@import "typography";

//Components
@import "components/navBar";
@import "components/newFiltersBtns";
@import "components/empty";
@import "components/invoicePreview";



body {
    background-color: $light-bg;

}

body.dark-theme {
    background-color: $dark-bg;

    .nav {
        background-color: $purple-dark;
    }
    .filters-btn-container {
        color: $white !important;
        button {
                    color: $white !important;

        }
    }
    .empty-text {
        color: $white;
    }
    .bold-span {
        color: $white;
    }
    .invoice-preview {
                background-color: $purple-dark;
                color: white !important;

    }
}



.main {
    max-width: $max-width;
    margin: auto;
}
