@import "reset";

@import "variables";

@import "typography";

//Components
@import "components/navBar";
@import "components/newFiltersBtns";



body {
    background-color: $light-bg;

}

body.dark-theme {
    background-color: $dark-bg;

    .nav {
        background-color: $purple-dark;
    }
    .filters-btn-container {
        color: $white !important;
        button {
                    color: $white !important;

        }
    }
}


// @media (min-width: $mq-medium){
// .main {
//     margin-left: $navBar-vertical-width;
// }
// }