
.empty-container{
    width: 90%;
    height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.empty-text {
    margin-top: 2rem;
    text-align: center;
    p{
        margin: auto;
        color: $gray;
        width: 50%;
    }
}