

.filters-btn-container {
    width: 90%;
    height: 108px;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-btn-left
 {
     display: flex;
     flex-direction: column;
    justify-content: center;
    width: 50%;

    h1,p {
        margin: 0;
    }
    p {
        color: $gray;;
    }
}
.filter-btn-right{
    width: 50%;
    display: flex;
    align-items: center;
}

.dropdowBtn {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: 700;
    span {
        margin-left: 2rem;
    }

    margin-right: 1.3rem;
}
.dropdownMenu {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
    border-radius: 8px;

  left: -50%;
  background-color: $white;
  min-width: 172px;
  padding: 1.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content label {
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
}
.dropdown-content input:checked {
  color: red;
  
  text-decoration: none;
  
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdownMenu:hover .dropdown-content {display: block;}

.dropdownMenu:hover .dropbtn {background-color: #3e8e41;}


.new-btn-container {
    width: 90px;
    height: 44px;
    border-radius: 24px ;
    background-color: $purple;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: background-color .2s ease-in-out;

    span {
        font-size: 1.2rem;
        color: white!important; 
        font-weight: 700;
        margin-right: 1rem;
    }
    &:hover {
        background-color: $purple-light;
    }
}
.plus-container {
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hidden-mobile-span{
display: none;
}


@media (min-width: $mq-small) {
    .hidden-mobile-span{
display: inline;
}
.filter-btn-right {
    justify-content: flex-end;
}
.dropdowBtn {
  
    span {
        margin-left: .5rem;
    }
}
.new-btn-container{
    width: 150px;
     span {
        margin-right: 0;
    }

}
}
@media (min-width: $mq-medium) {
    
.filters-btn-container {
    height: 185px;
}
}